@font-face {
    font-family: 'MES';
    src: local('☺'), local('☺'), url('../fonts/Madeevolvesansbold.woff2') format('woff2'), url('../fonts/Madeevolvesansbold.woff') format('woff'), url('../fonts/Madeevolvesansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
*{
	font-family: 'Myriad Pro';
}



.container{

}
.info {
	background-color: #7e8d90;
	width: 100%;
	height: 100%;
}
.info__content {

	margin: 75px 0 0 0;
	color: #fff;
	width: 100%;
	height: 240px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background: url('../img/office-865091_1920.webp') 50% 50%/cover  no-repeat fixed;


}
.info__lk {}
.lk {}
.lk__content {
	display: flex;
	justify-content: space-between;
}
.lk__img {
	width: 160px;
	height: 160px;
	& img{
		width: 100%;
		height: 100%;
	}
}
.lk__name {padding: 0 0 0 50px;}
.name {}
.name__contennt {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 3em;
}
.name__name {}
.name__surname {}
.info__proj {}
.proj {}
.proj__contentn {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 2em;
}
.proj__ended {
	display: flex;
	justify-content: space-around;
}
.proj__started {
	display: flex;
	justify-content: space-between;
}
////////
.choos__content{
	width: 100%;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}
////////
.bloks__content {
	display: flex;
	flex-direction: column;
	align-items: center;

background: rgb(240,247,250);
background: linear-gradient(180deg, rgba(240,247,250,1) 0%, rgba(18,175,240,1) 100%);

}
.block {
	margin: 4em  8em 0 8em;
	border-radius: 20px;
	
	background-color: #fff;
	padding: 60px;
}
.block__content {
	display: flex;
}
.block__img {
	flex: 1 1 400px;

}
.block__block-info {
	padding: 0 0 0 40px;
}
.block-info {}
.block-info__content {
width: 100%;
height: 100%;

	display: flex;
	flex-direction: column;
	
}
.block-info__top {
	flex: 1 1 70%;
}
.block-top {}
.block-top__contetn {
	display: flex;
}
.block-top__title {
	flex: 1 1 auto;
}
.block-title {
padding: 0 30px 0 0;
}
.block-title__content {
width: 100%;
height: 100%;

	display: flex;
flex-direction: column;
	justify-content: space-around;
}
.block-title__title {
	font-size: 2.5em;
}
.block-title__text {
	flex: 1 1 auto;
	font-size: 1.5em;
}
.block-top__progress {
	flex: 1 1 200px;
}
.progress {
	font-size: 2em;
}
.progress__conent {}
.block-top__text {
	text-align: center;
}
.block-top__img {}
.block-info__bottom {
	width: 100%;
	height: 2em;
}
.block-bottom__content {
	display: flex;
justify-content: space-around;}
.button {
	background-color: rgba(18,175,240,1);
	border-radius: 20px;
	padding: 0.5em;
	font-size: 2.2em;
	color: #fff;
	& a{
		color: #fff;
	}

}
.menu_proj {
width: 30%;

}
.menu_proj__content{
	width: 100%;
	height: 100%;
	display: flex;
justify-content: space-between;
align-items: center;
color: #7e8d90;

font-size: 1.5em;
}
.punkt1 {}
.punkt2 {}
