/*Обнуление*/
*{padding:0;margin:0;border:0;
transition: all 1s ease 0s;
}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

$minwidth: 320px;
$mw: 970px;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;



body{

font-weight: 400;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded{
		
	}
}
.container{
	max-width: $mw+1px;
	margin: 0 auto;
	padding: 1px 10px;
	@media (max-width: $md3+1px) {
		max-width: none;
		padding: 0 10px;

	}

	
}
.nav {
	background-color: #1c242a;
	z-index: 10;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;

	.nav__row {
		display: flex;
		align-items: center;
		height: 75px;
		position: relative;
		background-color: #1c242a;

		@media (max-width:  $md3+1px) {
			height: 50px;
			justify-content: space-between;
		}
	}
	.nav__logo {
		z-index: 2;
		@media (max-width:  $md3+1px) {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		
		
	}
	.logo__title{
		
	}
	.logo__list{
		display: flex;
		flex-direction: row;

	}
	}
	.nav__menu {
	@media (max-width:  $md3+1px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		
		&._active{
				background-color: black;
		opacity: 0.5;
		}

	}


	}
	.menu {
		padding-left: 30px/950px * 100%;
		flex: 1 1 auto;
		@media (max-width:  $md3+1px) {
	padding-left: 4px;
	padding: 2px 0 0 0;
	}

	&__icon {
	}

	.icon__menu {
	display: none;

	@media (max-width:  $md3+1px) {
		display: block;
		position: relative;
		width: 30px;
		height: 29px;
		margin: 10px 0 0 10px;
		z-index: 6;
		

		



	& span{
		position: absolute;
		background-color: #bfa16b;
		left: 0;
		width: 100%;
		height: 3px;
		
		&:first-child{
			top: 13px;
		}
		&:last-child{
			
			bottom: 0;
		}

	}

	}
		
	}
	&__body {
		@media (max-width:  $md3+1px) {
		opacity: 0;
		visibility: hidden;


		position: fixed;
			background-color: #1c242a;
		width: 100%;
		height: 50px;
		left: 0;
		top: 0;
		&:after{
			content: '';
			display: none;
				background-color: #1c242a;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 50px;
			z-index: 10;
		}
		margin: -50px 0 0 0;
		transition: all 0.2s ease;
		&._active{
			opacity: 1;
			visibility: visible;
			transition: margin 0.2s ease;
			margin: 0 0 0 0;
		}
		}

	}
	&__list {

		display: flex;
		justify-content: center;
		li{
			margin: 0 30px/950px * 100%;;
		}
		@media (max-width:  $md3+1px) {
			flex-direction: column;
			text-align: center;
			margin: 50px 0 0 0;
			li{
				padding: 0 0 30px 0;
				&:last-child{
					padding: 0;
				}
				&:first-child{
					margin-top: 30px;
				}
			}
		}

	}
	&__link {

	color: #ffffff;
	
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	/* Text style for "Главная" */
	letter-spacing: 1.4px;

		&:hover{
		text-decoration: underline;
	}

	@media (max-width:  $md3+1px) {
		font-size: 20px;
		
	}
	}
	}

	.nav__actions {
		display: flex;
		align-items: center;
	}
	.act-nav {}
	.act-nav__region {
		@extend .menu__link ;
		padding: 0 0 0 30px;
		background: url("../icon/ico_globe.webp") left no-repeat;
		line-height: 18px;

		min-width: 18px;
		min-height: 18px;
		@media (max-width: 890px) {
			span{
				padding: 0;
				display: none;
			}
		}
	}
	.act-nav__user {
		margin: 0 0 0 30px;
		@media (max-width: 890px) {
			margin: 0 0 0 10px;
			
		}

	}

	.user-nav {
		z-index: 4;
		.user-nav__icon {
			cursor: pointer;

		}
		.user-nav__menu {
			opacity: 0;
			visibility: hidden;
			transition-duration: 0.2s;
			&._active{
					z-index: 2;
					transition-duration: 0.2s;
					opacity: 1;
					visibility: visible;
					top: 78px;
					@media (max-width:  $md3+1px) {
						top: 53px;}
				}
			top: 88px;
			right: 0;
		background-color: #1c242a;
			position: absolute;
			padding: 10px 20px 5PX 20px;
			li{
				margin: 0 0 10px 0;
				&:last-child{
					margin: 0 0 0 -px;

				}

			}
		}
		.user-nav__link {
		color: #ffffff;
		
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		padding: 0 0 0 30px;
		display: inline-block;
		line-height: 18px;
		@media (min-width: 992px) {	
			&:hover{
			text-decoration: underline;
		}}
		}
		.user_nav__link1 {
			background: url('../../icon/globe_min.png') left center no-repeat;
		}
		.user_nav__link2 {
				background: url('../../icon/globe_min.png') left center no-repeat;
		}
		.user_nav__link3 {
				background: url('../../icon/globe_min.png') left center no-repeat;
		}
		.user_nav__link4 {
				background: url('../../icon/globe_min.png') left center no-repeat;
		}



	}
}