<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeCoder</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body>

<div id="app" style="width: 1000px; height: 1000px">

    <button @click="toggleAddMode">TOGGLE постановка кружочков{{isAddModeActive}}</button>
    <button @click="toggleAddEdgeMode">TOGGLE постановка палочек{{isAddEdgeModeActive}}</button>
    <div>
        <input type="text" v-model="newName" v-if="isAddModeActive">
        <input type="text" v-model="newAdvData" v-if="isAddModeActive">
        <div>{{selectedAdvData}}</div>
    </div>
    <div id="mynetwork"></div>
</div>

</body>

<script>

    let network = {}

    const vm = new Vue({
        el: '#app',
        data: {
            isAddModeActive: false,
            isAddEdgeModeActive: false,
            newName: "",
            newAdvData: "",
            advData: {},
            selectedAdvData: "",
        },
        methods: {
            toggleAddMode() {
                this.isAddModeActive = !this.isAddModeActive
                if (this.isAddModeActive) network.addNodeMode()
            },
            toggleAddEdgeMode() {
                this.isAddEdgeModeActive = !this.isAddEdgeModeActive
                if (this.isAddEdgeModeActive) network.addEdgeMode()
            }
        },
        mounted() {
            const container = document.getElementById('mynetwork');
            const that = this;

            const datas = {
                nodes: [],
                edges: []
            }
            const options = {
                physics: {
                    enabled: false
                },
                manipulation: {
                    enabled: false,
                    addNode(nodeData, callback) {
                        nodeData.label = that.newName
                        that.isAddModeActive = false
                        that.advData[nodeData.id] = that.newAdvData
                        callback(nodeData)
                    },
                    addEdge(edgeData, callback) {
                        that.isAddEdgeModeActive = false
                        callback(edgeData)
                    }
                }
            }
            network = new vis.Network(container, datas, options)

            network.on('selectNode', () => {
                const selectedNodes = network.getSelectedNodes()
                this.selectedAdvData = this.advData[selectedNodes[0]]
                vm.$forceUpdate()
            })
        }
    })


</script>
</html>