<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BeCoder</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/null.css">

    <link rel="stylesheet" href="style/nav.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <link rel="shortcut icon" href="icon/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="style/project.css">
    <link rel="stylesheet" href="style/null.css">

    <link rel="stylesheet" href="style/nav.css">
</head>

<body>

    <div id="app" @keydown.delete="deleteSelected">
        <div class="wrapper">
            <div v-if="popupShowed" @click="closePopup" style="background: black; opacity: 0.5; position: fixed; z-index: 98; width: 100%; height: 100%"></div>
            <div class="nav">
                <div class="container">

                    <div class="nav__row">
                        <div class="null">
                            <div class="logo__list">
                                <div>
                                    <a href="" class="nav__logo"><img src="icon/logo.svg"></a>
                                </div>

                            </div>
                        </div>
                        <div class="nav__menu menu">
                            <div class="menu__icon icon__menu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <nav class="menu__body">
                                <ul class="menu__list">
                                    <li><a href="" class="menu__link">Профиль</a></li>
                                    <li><a href="" class="menu__link">Проекты</a></li>
                                    <li><a href="" class="menu__link">Статистика</a></li>
                                    <li><a href="" class="menu__link">Контакты</a></li>
                                    <li><a href="" class="menu__link">Поиск</a></li>

                                </ul>
                            </nav>
                        </div>
                        <div class="nulllic"></div>
                    </div>
                </div>
            </div>

            <div class="info__content screen2">
                <div class="nulll"></div>
                <div class="screen2__title">{{(projectLabel == "example")? "Заголовок" : projectLabel}}</div>
            </div>

            <div class="tabs__content">
                <nav class="tabs__items">
                    <a href="#tab_01" class="tabs__item">Структура</a>
                    <a href="#tab_02" class="tabs__item">Описание</a>
                    <a href="#tab_03" class="tabs__item">Участники</a>
                </nav>
                <div class="tabs__body">
                    <div class="tabs__block tabs-block1" id="tab_01">
                        <div class="tabs__top">
                            <div class="tabs__title">Блок-схема</div>
                            <div class="tabs__red">
                                <div v-if="isEditMod" class="tabs__reds">
                                    <p @click="commitChanges">Применить</p>
                                    <p @click="cancelChanges">Отменить</p>
                                </div>
                                <p v-else @click="toggleEditMode">
                                    Редактировать
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="network">
                            <div class="network__content">
                                <div class="network__mynetwork">
                                    <div id="mynetwork" class="network__mynetwork__item"></div>
                                </div>
                            </div>
                            <div v-if="isEditMod" class="network__btns">
                                <button @click="toggleAddMode" class="network__btnAddObj">Добавить объект</button>
                                <button @click="toggleAddEdgeMode" class="network__btnAddArrow">Соединить объекты</button>
                            </div>
                            <div id="popup" v-if="popupShowed" class="popap">
                                <div v-if="isEditMod" class="popap__red red">

                                    <div class="tabs__Htitle">Редактирование свойств объекта</div>
                                    <div class="tabs__info info-v2">
                                        <div class="tabs__list tabs-list tabs-list-v2">
                                            <div class="tabs-list__conent ">
                                                <div class="tabs-list__title tabs-list__item">Заголовок</div>
                                                <div class="tabs-list__text tabs-list__item">Краткое описание</div>
                                                <div class="tabs-list__textarea tabs-list__item">Полное описание</div>
                                            </div>
                                        </div>
                                        <div class="tabs__input tabs-input">
                                            <div class="tabs-input__text1 tabs-input__item"><input type="text" v-model="label" placeholder="Заголовок" tabindex="1" v-model="selectedAdvData.shortDescription"></div>
                                            <div class="tabs-input__text2 tabs-input__item"><input type="text" v-model="selectedAdvData.fullDescription" placeholder="Краткое описание" tabindex="2"></div>
                                            <div class="tabs-input__text3 tabs-input__item"><input type="text" placeholder="Полное описание" tabindex="3"></div>
                                            
                                        </div>

                                    </div>
                                     <label class="tabs__choose">
                                                <select v-model="typeOfBlock" tabindex="4">
                                                    <option selected>Эллипс</option>
                                                    <option>Квадрат</option>
                                                </select>
                                            </label>
                                            <div class="btn__content">
                                                <button @click="submitButtonHandler" class="popap_ok">Применить</button>
                                            </div>
                                    
                                </div>
                                <div v-else class="popap__info popap-info">

                                    <div class="popap-info__list">
                                        <p class="popap-info__item">{{label}}</p>
                                        <p class="popap-info__item">{{selectedAdvData.shortDescription}}</p>
                                        <p class="popap-info__item">{{selectedAdvData.fullDescription}}</p>
                                        <p class="popap-info__item">{{(this.allData.nodes.filter(e => e.id == selectedNodeID)[0].shape == 'square')? 'Квадрат' : 'Эллипс'}}</p>
                                    </div>
                                    <button @click="closePopup" class="popap_ok">Назад</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__block" id="tab_02">
                        <div class="tabs__top">
                            <div class="tabs__title">Описание</div>
                            <div class="tabs__red">Редактировать</div>
                        </div>
                        <hr>
                        <div class="tabs__info">
                            <div class="tabs__list tabs-list">
                                <div class="tabs-list__conent">
                                    <div class="tabs-list__title tabs-list__item">Заголовок</div>
                                    <div class="tabs-list__text tabs-list__item">Краткое описание</div>
                                    <div class="tabs-list__textarea tabs-list__item">Полное описание</div>
                                </div>
                            </div>
                            <div class="tabs__input tabs-input">
                                <div class="tabs-input__text1 tabs-input__item"><input type="text" placeholder="Заголовок" tabindex="1"></div>
                                <div class="tabs-input__text2 tabs-input__item"><input type="text" placeholder="Краткое описание" tabindex="2"></div>
                                <div class="tabs-input__text3 tabs-input__item"><textarea placeholder="Полное описание" tabindex="3"></textarea></div>
                            </div>
                        </div>
                        <div class="tabs__img">
                            <img src="img/1.jpg" alt="">
                            <input type="file">
                        </div>
                    </div>
                    <div class="tabs__block" id="tab_03">
                        <div class="tabs__top">
                            <div class="tabs__title">Участники</div>
                            <div class="tabs__red">Редактировать</div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    let network = {}

    const getQueryVariable = (variable) => {
        const query = window.location.search.substring(1)
        const vars = query.split("&")
        for (let i = 0; i < vars.length; i++) {
            const pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1]
            }
        }
        return null
    }

    const vm = new Vue({
        el: '#app',
        data: {
            myID: "",
            projectDescription: "example",
            projectLabel: "example",
            projectFullDescription: "example",
            isAddModeActive: false,
            isAddEdgeModeActive: false,
            selectedNodeID: "",
            allData: {
                nodes: [],
                edges: []
            },
            selectedAdvData: {},
            isEditMod: false,
            label: "",
            typeOfBlock: "Эллипс",
            nnData: {},
            popupShowed: false,
            previousJSON: ""
        },
        methods: {
            deleteSelected() {
                network.deleteSelected()
            },
            showPopup() {
                this.popupShowed = true
            },
            closePopup() {
                this.popupShowed = false
            },
            sync() {
                this.nnData.nodes.forEach((e, i) => {
                    const a = this.allData.nodes.filter(b => b.id == i)[0]
                    a.advData.shortDescription = e.advData.shortDescription
                    a.advData.fullDescription = e.advData.fullDescription
                    a.label = e.label
                    a.shape = e.shape
                    a.x = e.x
                    a.y = e.y
                })
            },
            toggleEditMode() {
                this.isEditMod = !this.isEditMod
                this.previousJSON = JSON.stringify(this.allData)
            },
            commitChanges() {
                this.isEditMod = false
                this.fetchAllToServer()
            },
            cancelChanges() {
                this.init(JSON.parse(this.previousJSON))
                this.isEditMod = false
            },
            init(newData) {
                const nnData = {
                    nodes: new vis.DataSet(newData.nodes),
                    edges: new vis.DataSet(newData.edges)
                }
                this.nnData = nnData
                this.allData = newData
                const container = document.getElementById('mynetwork');
                const that = this;

                const options = {
                    physics: {
                        enabled: false
                    },
                    manipulation: {
                        enabled: false,
                        addNode(nodeData, callback) {
                            nodeData.label = that.newName
                            nodeData.shape = 'ellipse'
                            that.isAddModeActive = false
                            nodeData.advData = {
                                shortDescription: "",
                                fullDescription: ""
                            }
                            that.allData.nodes.push(nodeData)
                            callback(nodeData)
                        },
                        addEdge(edgeData, callback) {
                            that.isAddEdgeModeActive = false
                            that.allData.edges.push(edgeData)
                            callback(edgeData)
                        },
                        deleteNode(nodeData, callback) {
                            that.allData.nodes = that.allData.nodes.filter(e => e.id != nodeData.nodes[0])
                            callback(nodeData)
                        },
                        deleteEdge(edgeData, callback) {
                            that.allData.edges = that.allData.edges.filter(e => e.id != edgeData.edges[0])
                            callback(edgeData)
                        }
                    }
                }
                network = new vis.Network(container, nnData, options)
                network.on('selectNode', () => {
                    const selectedNodes = network.getSelectedNodes()
                    this.selectedNodeID = selectedNodes[0]
                    this.selectedAdvData = this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0].advData
                    this.label = this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0].label

                    switch (this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0].shape) {
                        case "ellipse":
                            this.typeOfBlock = 'Эллипс';
                        case "square":
                            this.typeOfBlock = 'Квадрат';
                    }
                })

                network.on('doubleClick', (eventObject) => {
                    const selectedNodeId = eventObject.nodes[0]
                    const selectedNode = that.allData.nodes.filter(e => e.id == selectedNodeId)[0]

                    that.selectedAdvData = selectedNode.advData
                    that.label = selectedNode.label
                    that.showPopup()
                })
            },
            createProjectFromJSON(datastring) {
                const newData = JSON.parse(datastring)
                this.init(newData)
            },
            toggleAddMode() {
                this.isAddModeActive = !this.isAddModeActive
                if (this.isAddModeActive) network.addNodeMode()
            },
            toggleAddEdgeMode() {
                this.isAddEdgeModeActive = !this.isAddEdgeModeActive
                if (this.isAddEdgeModeActive) network.addEdgeMode()
            },

            submitButtonHandler() {
                const selectedNode = this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0]
                let shape = ""
                switch (this.typeOfBlock) {
                    case "Эллипс":
                        {
                            shape = 'ellipse';
                            break;
                        }
                    case "Квадрат":
                        {
                            shape = 'square';
                            break;
                        }
                }

                this.nnData.nodes.update({
                    id: this.selectedNodeID,
                    label: this.label,
                    shape: shape
                })
                selectedNode.advData.shortDescription = this.selectedAdvData.shortDescription
                selectedNode.advData.fullDescription = this.selectedAdvData.fullDescription
                selectedNode.label = this.label

                this.sync()
                this.closePopup()
            },

            fetchAllToServer() {
                this.sync()
                this.nnData.nodes.forEach((e, i) => {
                    const pos = network.getPosition(i)
                    this.allData.nodes.filter(e => e.id == i)[0].x = pos.x
                    this.allData.nodes.filter(e => e.id == i)[0].y = pos.y
                })
                const formBody = new FormData()
                formBody.set("json", JSON.stringify(this.allData))
                fetch('https://becoder.newpage.xyz/api/send_json.php', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: formBody
                })
            }
        },
        mounted() {
            this.myID = getQueryVariable("id")
            fetch(`https://becoder.newpage.xyz/api/get_json.php?id=${this.myID}`)
                .then(res => res.json())
                .then(response => {
                    this.init(response.json.nodes, response.json.edges)
                })
                .catch(e => {
                    this.init({
                        nodes: [],
                        edges: []
                    })
                })
        }
    })
</script>

</html>