<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BeCoder</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/null.css">

    <link rel="stylesheet" href="style/nav.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <link rel="shortcut icon" href="icon/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="style/project.css">
    <link rel="stylesheet" href="style/null.css">

    <link rel="stylesheet" href="style/nav.css">
</head>

<body>

<div id="app" @keydown.delete="deleteSelected">
    <div class="wrapper">
        <div v-if="popupShowed" @click="closePopup"
             style="background: black; opacity: 0.5; position: fixed; z-index: 98; width: 100%; height: 100%"></div>
        <div class="nav">
            <div class="container">

                <div class="nav__row">
                    <div class="null">
                        <div class="logo__list">
                            <div>
                                <a href="" class="nav__logo"><img src="icon/logo.svg"></a>
                            </div>

                        </div>
                    </div>
                    <div class="nav__menu menu">
                        <div class="menu__icon icon__menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li><a href="" class="menu__link">Профиль</a></li>
                                <li><a href="" class="menu__link">Статистика</a></li>
                                <li><a href="" class="menu__link">О проекте</a></li>
                                <li><a href="" class="menu__link">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="nav__actions act-nav">
                        <a class="act-nav__region"><span>поиск</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="info__content screen2">
            <div class="nulll"></div>
            <div class="screen2__title">{{(projectLabel == "example")? "Заголовок" : projectLabel}}</div>
        </div>

        <div class="tabs__content">
            <nav class="tabs__items">
                <a href="#tab_01" @mousedown="redrawSecondCanvas" class="tabs__item">Структура</a>
                <a href="#tab_02" @mousedown="redrawSecondCanvas" class="tabs__item">Описание</a>
                <a href="#tab_03" @mousedown="redrawSecondCanvas" class="tabs__item">Просмотр</a>
            </nav>
            <div class="tabs__body">
                <div class="tabs__block" id="tab_01">
                    <div class="tabs__top">
                        <div class="tabs__title">Блок-схема</div>
                        <div class="tabs__red">
                            <div v-if="isEditMod">
                                <p @click="commitChanges">Применить</p>
                                <p @click="cancelChanges">Отменить</p>
                            </div>
                            <p v-else @click="toggleEditMode">
                                Редактировать
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="network">
                        <div class="network__content">
                            <div class="network__mynetwork">
                                <div id="mynetwork" class="network__mynetwork__item" style="height: 400px"></div>
                            </div>
                        </div>
                        <div v-if="isEditMod" class="network__btns">
                            <button @click="toggleAddMode" class="network__btnAddObj">Добавить объект+</button>
                            <input type="radio" value="ellipse" v-model="picked"><label>Объект 1</label>
                            <input type="radio" value="box" v-model="picked"><label>Объект 2</label>
                            <button @click="toggleAddEdgeMode" class="network__btnAddArrow">Соединить объекты<==>
                            </button>
                        </div>
                        <div id="popup" v-if="popupShowed" class="popap" style="z-index: 100; ">
                            <div v-if="isSelectedObjectType[0]">
                                <div v-if="isEditMod" class="popap__red red">
                                    <div class="tabs__info info-v2">
                                        <div class="tabs__list tabs-list tabs-list-v2">
                                            <div class="tabs-list__conent ">
                                                <div class="tabs-list__title tabs-list__item">Заголовок</div>
                                                <div class="tabs-list__text tabs-list__item">Краткое описание</div>
                                                <div class="tabs-list__textarea tabs-list__item">Полное описание</div>
                                            </div>
                                        </div>
                                        <div class="tabs__input tabs-input">
                                            <div class="tabs-input__text1 tabs-input__item"><input type="text"
                                                                                                   v-model="label"
                                                                                                   placeholder="Заголовок"
                                                                                                   tabindex="1"
                                                                                                   v-model="selectedAdvData.shortDescription">
                                            </div>
                                            <div class="tabs-input__text2 tabs-input__item"><input type="text"
                                                                                                   v-model="selectedAdvData.fullDescription"
                                                                                                   placeholder="Описание"
                                                                                                   tabindex="2"></div>
                                            <div class="tabs-input__text3 tabs-input__item"><input type="text"
                                                                                                   placeholder="Описание"
                                                                                                   tabindex="3"></div>

                                        </div>

                                    </div>
                                    <label class="tabs__choose">
                                        <select v-model="typeOfBlock" tabindex="4">
                                            <option selected>Эллипс</option>
                                            <option>Квадрат</option>
                                        </select>
                                    </label>
                                    <div class="btn__content">
                                        <button @click="submitButtonHandler" class="popap_ok">Применить</button>
                                    </div>

                                </div>
                                <div v-else class="popap__info popap-info">
                                    <div class="popap-info__list">
                                        <p class="popap-info__item">{{label}}</p>
                                        <p class="popap-info__item">{{selectedAdvData.shortDescription}}</p>
                                        <p class="popap-info__item">{{selectedAdvData.fullDescription}}</p>
                                        <p class="popap-info__item">{{(this.allData.nodes.filter(e => e.id ==
                                            selectedNodeID)[0].shape == 'box')? 'Квадрат' : 'Эллипс'}}</p>
                                    </div>
                                    <button @click="closePopup" class="popap_ok">Назад</button>
                                </div>
                            </div>
                            <div v-else>
                                <div v-if="isEditMod">
                                    <select v-model="selectedLinkTitle">
                                        <option v-for="node in allData.nodes">{{node.label}}</option>
                                    </select>
                                    <div class="btn__content">
                                        <button @click="submitButtonHandler" class="popap_ok">Применить</button>
                                    </div>
                                </div>
                                <div v-else>
                                    <p @click="goToLinkPopup">{{allData.nodes.filter(e => e.id ==
                                        selectedAdvData.link)[0]? allData.nodes.filter(e => e.id ==
                                        selectedAdvData.link)[0].label : 'Нет связей'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__block" id="tab_02">
                    <div class="tabs__top">
                        <div class="tabs__title">Описание</div>
                        <div v-if="isEditDescritionMod" class="tabs__red" @click="toggleEditDescrition">Редактировать
                        </div>
                        <div v-else class="tabs__red" @click="toggleEditDescrition">OK</div>
                    </div>
                    <hr>
                    <div class="tabs__info">
                        <div class="tabs__list tabs-list">
                            <div class="tabs-list__conent">
                                <div class="tabs-list__title tabs-list__item">Заголовок</div>
                                <div class="tabs-list__text tabs-list__item">Краткое описание</div>
                                <div class="tabs-list__textarea tabs-list__item">Полное описание</div>
                            </div>
                        </div>
                        <div class="tabs__input tabs-input">
                            <div class="tabs-input__text1 tabs-input__item"><input type="text" placeholder="Заголовок"
                                                                                   tabindex="1" v-model="projectLabel">
                            </div>
                            <div class="tabs-input__text2 tabs-input__item"><input type="text" placeholder="Описание"
                                                                                   tabindex="2"
                                                                                   v-model="projectDescription"></div>
                            <div class="tabs-input__text3 tabs-input__item"><textarea placeholder="Описание"
                                                                                      tabindex="3"></textarea></div>
                        </div>
                    </div>
                    <div class="tabs__img">
                        <img src="img/1.jpg" alt="">
                        <input type="file">
                    </div>
                </div>
                <div class="tabs__block" id="tab_03">
                    <div class="tabs__top">
                        <div class="tabs__title">Просмотр</div>
                        <div class="tabs__red"></div>
                    </div>
                    <div class="tabs__info" style="height: 40rem; display: flex; flex-direction: column">
                        <canvas height="1200px" width="1200px" id="secondCanvas"></canvas>
                        <div style="position: absolute; bottom: 10rem">
                            <p>{{projectLabel}}</p>
                            <p>{{projectDescription}}</p>
                            <p>{{projectFullDescription}}</p>
                            <button @click="saveImage">Save Image</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    let network = {}

    const getQueryVariable = (variable) => {
        const query = window.location.search.substring(1)
        const vars = query.split("&")
        for (let i = 0; i < vars.length; i++) {
            const pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1]
            }
        }
        return null
    }

    const vm = new Vue({
        el: '#app',
        data: {
            myID: "",
            selectedLinkTitle: "",
            isEditDescritionMod: false,
            projectDescription: "example",
            projectLabel: "example",
            projectFullDescription: "example",
            isAddModeActive: false,
            isAddEdgeModeActive: false,
            selectedNodeID: "",
            allData: {
                nodes: [],
                edges: []
            },
            selectedAdvData: {},
            isEditMod: false,
            isSelectedObjectType: [false, false],
            picked: 'ellipse',
            label: "",
            typeOfBlock: "Эллипс",
            nnData: {},
            popupShowed: false,
            previousJSON: ""
        },
        methods: {
            saveImage() {
                const cnv = document.getElementById('secondCanvas')
                const dataURL = cnv.toDataURL("image/jpeg");
                const link = document.createElement("a");
                link.href = dataURL;
                link.download = "schema.jpg";
                link.click();
            },
            goToLinkPopup() {
                this.closePopup()
                this.popupShowed = false
                this.selectedNodeID = this.selectedAdvData.link
                const selectedNode = this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0]

                this.selectedAdvData = selectedNode.advData
                this.label = selectedNode.label

                if (this.selectedAdvData.typeOfBlock == '1') {
                    this.isSelectedObjectType = [true, false]
                }

                if (this.selectedAdvData.typeOfBlock == '2') {
                    this.isSelectedObjectType = [false, true]
                }

                switch (this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0].shape) {
                    case "ellipse":
                        this.typeOfBlock = 'Эллипс';
                    case "box":
                        this.typeOfBlock = 'Квадрат';
                }
                this.showPopup()
            },
            toggleEditDescrition() {
                this.isEditDescritionMod = !this.isEditDescritionMod
                if (this.isEditDescritionMod) {
                    this.fetchAllToServer()
                }
            },
            deleteSelected() {
                network.deleteSelected()
            },
            showPopup() {
                this.popupShowed = true
            },
            closePopup() {
                this.popupShowed = false
            },
            sync() {
                this.nnData.nodes.forEach((e, i) => {
                    const a = this.allData.nodes.filter(b => b.id == i)[0]
                    a.advData.shortDescription = e.advData.shortDescription
                    a.advData.fullDescription = e.advData.fullDescription
                    a.advData.typeOfBlock = e.advData.typeOfBlock
                    a.advData.link = e.advData.link
                    a.label = e.label
                    a.shape = e.shape
                    a.x = e.x
                    a.y = e.y
                })
            },
            toggleEditMode() {
                this.isEditMod = !this.isEditMod
                this.previousJSON = JSON.stringify(this.allData)
            },
            commitChanges() {
                this.isEditMod = false
                this.fetchAllToServer()
            },
            cancelChanges() {
                this.init(JSON.parse(this.previousJSON))
                this.isEditMod = false
            },
            redrawSecondCanvas() {
                const primaryCanvas = document.getElementById('mynetwork').childNodes[0].childNodes[0]
                const secondCanvas = document.getElementById('secondCanvas').getContext('2d')
                secondCanvas.clearRect(0, 0, secondCanvas.canvas.width, secondCanvas.canvas.height);

                secondCanvas.drawImage(primaryCanvas, -100, -100);
            },
            init(newData) {
                const nnData = {
                    nodes: new vis.DataSet(newData.nodes),
                    edges: new vis.DataSet(newData.edges)
                }
                this.nnData = nnData
                this.allData = newData
                const container = document.getElementById('mynetwork');
                const that = this;

                const options = {
                    physics: {
                        enabled: false
                    },
                    manipulation: {
                        enabled: false,
                        addNode(nodeData, callback) {
                            nodeData.label = ""
                            nodeData.shape = that.picked
                            that.isAddModeActive = false
                            let a = ""
                            if (that.picked == 'ellipse') {
                                a = "1"
                            } else {
                                a = "2"
                            }
                            nodeData.advData = {
                                shortDescription: "",
                                fullDescription: "",
                                typeOfBlock: a,
                                link: ""
                            }
                            that.allData.nodes.push(nodeData)
                            callback(nodeData)
                        },
                        addEdge(edgeData, callback) {
                            that.isAddEdgeModeActive = false
                            that.allData.edges.push(edgeData)
                            callback(edgeData)
                        },
                        deleteNode(nodeData, callback) {
                            that.allData.nodes = that.allData.nodes.filter(e => e.id != nodeData.nodes[0])
                            callback(nodeData)
                        },
                        deleteEdge(edgeData, callback) {
                            that.allData.edges = that.allData.edges.filter(e => e.id != edgeData.edges[0])
                            callback(edgeData)
                        }
                    }
                }
                network = new vis.Network(container, nnData, options)
                network.on('doubleClick', (eventObject) => {
                    const selectedNodeId = eventObject.nodes[0]
                    this.selectedNodeID = selectedNodeId
                    const selectedNode = this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0]
                    this.selectedAdvData = selectedNode.advData
                    this.label = selectedNode.label

                    if (this.selectedAdvData.typeOfBlock == '1') {
                        this.isSelectedObjectType = [true, false]
                    }

                    if (this.selectedAdvData.typeOfBlock == '2') {
                        this.isSelectedObjectType = [false, true]
                    }

                    switch (this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0].shape) {
                        case "ellipse":
                            this.typeOfBlock = 'Эллипс';
                        case "box":
                            this.typeOfBlock = 'Квадрат';
                    }
                    this.showPopup()
                })

            },
            createProjectFromJSON(datastring) {
                const newData = JSON.parse(datastring)
                if (!newData.nodes) {
                    this.init({
                        nodes: [],
                        edges: []
                    })
                } else {
                    this.init(newData)
                }
            },
            toggleAddMode() {
                this.isAddModeActive = !this.isAddModeActive
                if (this.isAddModeActive) network.addNodeMode()
            },
            toggleAddEdgeMode() {
                this.isAddEdgeModeActive = !this.isAddEdgeModeActive
                if (this.isAddEdgeModeActive) network.addEdgeMode()
            },

            submitButtonHandler() {
                const selectedNode = this.allData.nodes.filter(e => e.id == this.selectedNodeID)[0]
                let shape = ""
                switch (this.typeOfBlock) {
                    case "Эллипс": {
                        shape = 'ellipse';
                        break;
                    }
                    case "Квадрат": {
                        shape = 'box';
                        break;
                    }
                }

                this.nnData.nodes.update({
                    id: this.selectedNodeID,
                    label: this.label,
                    shape: shape
                })
                selectedNode.advData.shortDescription = this.selectedAdvData.shortDescription
                selectedNode.advData.fullDescription = this.selectedAdvData.fullDescription
                selectedNode.advData.typeOfBlock = this.selectedAdvData.typeOfBlock

                selectedNode.advData.link = this.allData.nodes.filter(e => e.label == this.selectedLinkTitle)[0].id
                selectedNode.label = this.label


                this.sync()
                this.closePopup()
            },

            fetchAllToServer() {
                this.sync()
                this.nnData.nodes.forEach((e, i) => {
                    const pos = network.getPosition(i)
                    this.allData.nodes.filter(e => e.id == i)[0].x = pos.x
                    this.allData.nodes.filter(e => e.id == i)[0].y = pos.y
                })
                const formBody = new URLSearchParams({
                    json: JSON.stringify(this.allData),
                    id: this.myID
                })
                const formDescriptBody = new URLSearchParams({
                    id: this.myID,
                    name: this.projectLabel,
                    description: this.projectDescription
                })
                fetch('https://becoder.newpage.xyz/api/send_json.php', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: formBody
                })
                fetch('https://becoder.newpage.xyz/api/project_change.php', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: formDescriptBody
                })
            }
        },
        mounted() {
            this.myID = getQueryVariable("id")
            if (!this.myID) {
                fetch('https://becoder.newpage.xyz/api/create_json.php')
                    .then(res => res.text())
                    .then(resp => {
                        this.myID = resp
                        window.location.replace(`https://becoder.newpage.xyz/project.html?id=${resp}`)
                    })
            } else {
                fetch(`https://becoder.newpage.xyz/api/get_json.php?id=${this.myID}`)
                    .then(resp => resp.text())
                    .then(response => {
                        this.createProjectFromJSON(response)
                    })
                    .catch(e => {
                        this.init({
                            nodes: [],
                            edges: []
                        })
                    })
                fetch(`https://becoder.newpage.xyz/api/project_info.php?id=${this.myID}`)
                    .then(res => res.json())
                    .then(resp => {
                        this.projectLabel = resp.name
                        this.projectDescription = resp.description
                    })
            }
        }
    })
</script>

</html>