@charset "UTF-8";
@font-face {
  font-family: 'MES';
  src: local("☺"), local("☺"), url("../fonts/Madeevolvesansbold.woff2") format("woff2"), url("../fonts/Madeevolvesansbold.woff") format("woff"), url("../fonts/Madeevolvesansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  font-family: 'Myriad Pro'; }

#app {
  height: 100%; }

.wrapper {
  background: #f0f7fa;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f7fa), to(#12aff0));
  background: -webkit-linear-gradient(top, #f0f7fa 0%, #12aff0 100%);
  background: -o-linear-gradient(top, #f0f7fa 0%, #12aff0 100%);
  background: linear-gradient(180deg, #f0f7fa 0%, #12aff0 100%); }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.info {
  background-color: #7e8d90;
  width: 100%;
  height: 100%; }

.screen2 {
  background: url("../img/2.webp") 50% 50%/cover no-repeat fixed; }

.screen2__title {
  font-size: 6em; }

.info__content {
  margin: 75px 0 0 0;
  color: #fff;
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 1.5em;
  position: stiky;
  background-color: #fff; }

.tabs__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
  color: #000;
  font-size: 1.5em; }

.tabs__body {
  padding: 1.5em 0 1.5em 0;
  width: 100%;
  position: relative;
  background: #f0f7fa;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f7fa), to(#12aff0));
  background: -webkit-linear-gradient(top, #f0f7fa 0%, #12aff0 100%);
  background: -o-linear-gradient(top, #f0f7fa 0%, #12aff0 100%);
  background: linear-gradient(180deg, #f0f7fa 0%, #12aff0 100%); }

.tabs__block {
  background-color: #fff;
  width: 60%;
  display: none;
  margin: 0 auto; }

.tabs__block:nth-child(1):before {
  left: 0; }

.tabs__block:nth-child(2):before {
  left: 33.333%; }

.tabs__block:nth-child(3):before {
  right: 0; }

.tabs__block:target {
  display: block; }

.tabs__block:before {
  content: "";
  height: 5px;
  width: 33.333%;
  position: absolute;
  top: -5px;
  background-color: #00aff8; }

.tabs__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #7e8d90;
  margin: 1em 2em;
  padding: 1em 0 1em 0; }

.tabs__title {
  font-size: 1.5em; }

.tabs__red {
  position: relative;
  font-size: 1em;
  color: #7e8d90; }
  .tabs__red:after {
    content: '';
    background: url();
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px; }

.tabs__info {
  padding: 1em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tabs__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.tabs-list__item {
  font-size: 1.2em;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .tabs-list__item:first-child {
    padding: 1em 0  1em 0; }
  .tabs-list__item:last-child {
    padding: 1em 0 1em 0; }

.tabs__input {
  padding: 0 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.tabs-input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%; }

.tabs-input__item {
  font-size: 1.2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .tabs-input__item input, .tabs-input__item textarea {
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f3f3;
    width: 100%; }

.tabs-input__text1 {
  padding: 0.5em 0; }

.tabs-input__text2 {
  padding: 0.3em 0; }

.tabs-input__text3 {
  padding: 0.8em 0; }

.tabs__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 1em 0; }
  .tabs__img img {
    width: 300px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover; }

.network {
  margin: 0 auto; }

.network__content {
  height: 100%;
  padding: 0 0 0.2em 0; }

.network__mynetwork {
  margin: 1em;
  border: 1px solid #7e8d90; }

.network__mynetwork__item {
  width: 100%;
  height: 30rem; }

.network__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .network__btns button {
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
    background-color: #12aff0;
    margin: 0 0 1em 0;
    color: #fff; }

.network__btnAddObj {
  background-color: #f5f3f3; }

.popap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: 25em;
  background: #ffffff;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
